﻿@model _19T1021288.DomainModels.Supplier
@{

}
@using _19T1021288.Businnesslayers;
<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Supplier/Save" method="post">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="hidden" class="form-control" id="SupplierID" name="SupplierID" value="@Model.SupplierID">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tên nhà cung cấp:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="SupplierName" name="SupplierName" value="@Model.SupplierName" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" ">Tên giao dịch:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ContactName" name="ContactName" value="@Model.ContactName">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" ">Địa chỉ:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia:</label>
                <div class="col-sm-10">
                    <select class="form-control" id=" Country" name="Country">
                        <option>--Chọn Quốc Gia--</option>
                        @foreach (var item in CommonDataService.ListOfCountries())
                        {
                            if (item.CountryName == Model.Country)
                            {
                                <option value="@item.CountryName" selected>@item.CountryName</option>
                            }
                            else
                            {
                                <option value="@item.CountryName">@item.CountryName</option>
                            }


                        }


                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" ">Thành phố:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="City" name="City" value="@Model.City">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã bưu chính:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="PostalCode" name="PostalCode" value="@Model.PostalCode">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default bg-blue">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="/Supplier" class="btn btn-warning">quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>

