﻿@model _19T1021288.Web.Controllers.person
@{
    ViewBag.Title = "Input";
}

<h2>Person</h2>

<form action="~/Test/Input" method="post">
    <label>Name:</label>
    <input type="text" name="Name" value="@Model.Name"><br />
    <label>BirthDate:</label>
    <input type="text" name="BirthDate" value="@Model.BirthDate"><br />
    <label>Salary:</label>
    <input type="text" name="Salary" value="@Model.Salary"><br />
    <button type="submit">Submit</button>
</form>

