﻿@using _19T1021288.Businnesslayers;
@model _19T1021288.DomainModels.Customer
@{

}
<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Customer/Save" method="post">


            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CustomerID)
            @Html.ValidationSummary("", new { @style = "color:#f00" })

            <div class="form-group">
                <label class="control-label col-sm-2" ">Tên khách hàng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.CustomerName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" ">Tên giao dịch:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ContactName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" ">Địa chỉ:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" ">Email:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Quốc gia:</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Country, SelectListHelper.Countries(), new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" ">Thành phố:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })             
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" ">Mã bưu chính:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default bg-blue">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="/Customer" class="btn btn-warning">quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>

