﻿@model LiteCommerce.DomainModel.OrderDetail
@{
    Layout = null;
}

<div class="modal-dialog">    
    <div class="modal-content">
        <form action="~/Order/UpdateDetail" method="post" class="form-horizontal">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật chi tiết đơn hàng</h4>
            </div>
            <div class="modal-body">
                @Html.HiddenFor(m => m.OrderID)
                @Html.HiddenFor(m => m.ProductID)
                <div class="form-group">
                    <label class="control-label col-sm-3">Tên mặt hàng:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">@Model.ProductName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Đơn vị tính:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">@Model.Unit</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Số lượng:</label>
                    <div class="col-sm-9">
                      <input type="number" name="Quantity" value="@Model.Quantity" min="1" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Giá bán:</label>
                    <div class="col-sm-9">
                        <input type="number" name="SalePrice" class="form-control" value="@Model.SalePrice" min="0.1" step="0.1" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>

