﻿@model _19T1021288.Web.Models.OrderSearchInput
@{
    ViewBag.Title = "Tra cứu đơn hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <!--Form đầu vào tìm kiếm-->
        <form id="formSearch" action="~/Order/Search">
            @Html.HiddenFor(m => m.PageSize, "")
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-control list" name="Idstatus">
                        <option value="0">-- Trạng thái --</option>
                        <option value="1">Đơn hàng mới (chờ duyệt)</option>
                        <option value="2">Đơn hàng đã duyệt (chờ chuyển hàng)</option>
                        <option value="3">Đơn hàng đang được giao</option>
                        <option value="4">Đơn hàng đã hoàn tất thành công</option>
                        <option value="-1">Đơn hàng bị hủy</option>
                        <option value="-2">Đơn hàng bị từ chối</option>
                    </select>
                </div>
                <div class="col-sm-10 input-group">
                    <input type="text" name="searchValue"
                           class="form-control"
                           placeholder="Tìm kiếm theo tên khách hàng hoặc tên người giao hàng">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </span>
                </div>
            </div>
        </form>

        <!-- Kết quả tìm kiếm -->
        <div id="searchResult"></div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                // nhầm ngăn chặn các phương pháp mặc định của trang.
                doSearch(1);
                // tìm kiếm ở trang 1
                return;
            });
            $(".list").change(function () {
                doSearch(1);
                return false;
            });
            doSearch(@Model.Page);
        })
        // tìm kiếm dữ liệu theo trang.
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            //chuyển dữ liệu lên và xử lý
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}