﻿@model _19T1021288.Web.Models.OrderSearchOutput
@{
    Layout = null;
}
<p style="margin:10px 0 10px 0">
    Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> đơn hàng trong tổng số <strong>@string.Format("{0:N0}", Model.PageCount)</strong> trang.
</p>
@{
    var userAccount = SelectListHelper.CookieroUserAccount(User.Identity.Name);
    string Birthday = SelectListHelper.DMYDateTimeToString(userAccount.Birthdate);
}
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th>Khách hàng</th>
                <th>Ngày lập</th>

                <th>Nhân viên phụ trách</th>
                <th>Thời điểm duyệt</th>
                <th>Người giao hàng</th>
                <th>ngày nhận giao hàng</th>
                <th>Thời điểm kết thúc</th>
                <th>Trạng thái</th>
                <th style="width:40px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.data)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.OrderTime</td>
                    <td>@item.EmployeeFullName</td>
                    <td>@item.AcceptTime</td>
                    <td>@item.ShipperName</td>
                    <td>@item.ShippedTime</td>
                    <td>@item.FinishedTime</td>
                    <td>@item.StatusDescription</td>
                    <td>
                        @if (item.EmployeeID == Convert.ToInt32(userAccount.UserID))
                        {
                            <a href="~/Order/Details/@item.OrderID" class="btn btn-info btn-xs">
                                <i class="glyphicon glyphicon-th-list"></i>
                            </a>
                        }
                        else
                        {
                            <a href="#" disabled class="btn btn-info btn-xs">
                                <i class="glyphicon glyphicon-th-list"></i>
                            </a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page != 1)
            {
                int b = Model.Page;
                b--;
                <li class="page-item">
                    <a class="page-link" href="javascript::" onclick="doSearch(@b)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @{
                for (int j = 1; j <= Model.PageCount; j++)
                {
                    if (j == Model.Page)
                    {
                        <li class="active"><a class="page-link" href="#">@j</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="javascript::" onclick="doSearch(@j)">@j</a></li>
                    }

                }
            }
            <li>
                @{
                    if (Model.Page != Model.PageCount)
                    {
                        int a = Model.Page;
                        a++;
                        <a class="page-link" href="javascript::" onclick="doSearch(@a)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>

                    }

                }

            </li>
        </ul>
    </nav>
</div>