﻿
<header class="main-header">
    <!-- Logo -->
    <a href="~/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">Mini</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Mini</b> Shop</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        @{ 
            var userAccount = SelectListHelper.CookieroUserAccount(User.Identity.Name);
            string Birthday = SelectListHelper.DMYDateTimeToString(userAccount.Birthdate);
        }
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Images/@userAccount.Images" class="user-image" alt="User Image">
                        <span class="hidden-xs"> @userAccount.FullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/Images/@userAccount.Images" class="img-circle" alt="User Image">

                            <p>
                                @userAccount.FullName
                                <small>@Birthday</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="~/Employee/Details/@userAccount.UserID" class="btn btn-default btn-flat">Thông Tin</a>
                            </div>
                            <div class="pull-right">
                                <a href="~/Accout/Logout" class="btn btn-default btn-flat">Thoát</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

