﻿@model _19T1021288.Web.Models.ProductSearchInput
@{
    ViewBag.Title = "Mặt hàng";
}
<div class=" box box-primary">
    <div class="box-body">
        <form id="formSearch" action="~/product/search">
            <div class="row">
                @Html.HiddenFor(m => m.PageSize, "")
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.SupplierID, SelectListHelper.ListOfSupplier(), new { @class = "form-control list" })
                </div>
                <div class="col-sm-3">
                    @Html.DropDownListFor(m => m.CategoryID, SelectListHelper.ListOfCategory(), new { @class = "form-control list" })
                </div>
                <div class="col-sm-6 input-group">
                    @Html.TextBoxFor(m => m.SearchValue, "", new { @class = "form-control", @autofocus = "autofocus", @Value = Model.SearchValue, @placeholder = "Nhập từ cần tìm kiếm..." })
                    <span class="input-group-btn">
                        <button type="submit" id="search-btn" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i>
                        </button>
                        <a href="~/product/create"
                           class="btn btn-flat btn-primary"
                           style="margin-left:5px;">
                            <i class="fa fa-plus"></i> Bổ sung
                        </a>
                    </span>
                </div>
            </div>
        </form>
        <div id="searchResult"></div>


    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                // nhầm ngăn chặn các phương pháp mặc định của trang.
                doSearch(1);
                // tìm kiếm ở trang 1
                return;
            });
            $(".list").change(function () {
                doSearch(1);
                return false;
            });
            doSearch(@Model.Page);
        })
        // tìm kiếm dữ liệu theo trang.
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            //chuyển dữ liệu lên và xử lý
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}


