﻿@model LiteCommerce.DomainModel.ProductPhoto
@{

}

<div class="box box-primary">
    <div class="box-header with-border ">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/Product/SavePhoto" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.PhotoID)
            @Html.HiddenFor(m => m.ProductID)
            @Html.ValidationSummary("", new { @style = "color:#f00" })
            <div class="form-group">
                <label class="control-label col-sm-2">Chọn ảnh:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />
                    @Html.ValidationMessageFor(m => m.Photo, "", new { @style = "color:#f00" })
                </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <img id="Photo" src="~/Images/@Model.Photo" class="img img-bordered" style="width:200px" />
                </div>
            </div>
              <input type="hidden" name="Photo" value="@Model.Photo" />
            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Thứ tự hiển thị:</label>
                <div class="col-sm-10">
                    @{if (Model.PhotoID == 0)
                    {
                        @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control", Type = "Number",@min="1"})
                        @Html.ValidationMessageFor(m => m.DisplayOrder, "", new { @style = "color:#f00" })
                      }
                    else
                        {
                            @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "form-control", Type = "Number",@min="1"})
                            @Html.ValidationMessageFor(m => m.DisplayOrder, "", new { @style = "color:#f00" })
}
                    }
                    
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10 checkbox">
                    <label>@Html.CheckBoxFor(m => m.IsHidden, new { })Ẩn ảnh (không hiển thị với khách hàng)</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>
                    <a class="btn btn-warning" href="~/product/edit/@Model.ProductID">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>

