﻿@model _19T1021288.Web.Models.ProductSearchOutput
@{
    Layout = null;
}
<p style="margin:10px 0 10px 0">
    Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> mặt hàng trong tổng số <strong>@string.Format("{0:N0}", Model.PageCount)</strong> trang.
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr class="bg-primary">
                <th style="width:80px">Ảnh</th>
                <th>Tên mặt hàng</th>
                <th>Đơn vị tính</th>
                <th>Giá</th>
                <th style="width:75px">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{foreach (var item in Model.data)
                {
                    <tr>
                        <td>
                            <img src="~/Images/@item.Photo" style="width:80px" />
                        </td>
                        <td style="vertical-align:middle">@item.ProductName</td>
                        <td style="vertical-align:middle">@item.Unit</td>
                        <td style="vertical-align:middle">@string.Format("{0:N}", item.Price)</td>
                        <td class="text-right" style="vertical-align:middle">
                            <a href="~/product/edit/@item.ProductID" class="btn btn-xs btn-flat btn-info">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="~/product/delete/@item.ProductID" class="btn btn-xs btn-flat btn-danger">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page != 1)
            {
                int b = Model.Page;
                b--;
                <li class="page-item">
                    <a class="page-link" href="javascript::" onclick="doSearch(@b)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @{
                for (int j = 1; j <= Model.PageCount; j++)
                {
                    if (j == Model.Page)
                    {
                        <li class="active"><a class="page-link" href="#">@j</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="javascript::" onclick="doSearch(@j)">@j</a></li>
                    }

                }
            }
            <li>
                @{
                    if (Model.Page != Model.PageCount)
                    {
                        int a = Model.Page;
                        a++;
                        <a class="page-link" href="javascript::" onclick="doSearch(@a)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>

                    }

                }

            </li>
        </ul>
    </nav>
</div>
