﻿@model _19T1021288.DomainModels.Employee
@{ ViewBag.Title = "Xóa thông tin nhân viên"; }

<div class="box box-danger">
    <div class=" box-body">
        <form class="form-horizontal" action="~/Employee/Delete/@Model.EmployeeID" method="post" style="position:relative;">
            <div class="form-group " style=" position: absolute; right: 10px; top: 10px; text-align: center; margin-right: 30px ">
                <img src="~/Images/@Model.Photo" class="img-rounded" alt="ảnh nhân viên"
                     style="width:170px">
                <p>Photo</p>
            </div>

            <div class="form-group" style="width:950px">
                <div class="form-group">
                    <label class="control-label col-sm-2" style="width:">Họ nhân viên:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.FirstName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="width:">Tên nhân viên:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.LastName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="width:">Ngày sinh:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.BirthDate</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="width:">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.Email</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" style="width:">Ghi chú:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.Notes</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger ">
                        <i class="glyphicon glyphicon-remove"></i>
                        Xóa dữ liệu
                    </button>
                    <a href="/Employee" class="btn btn-warning">Quay Lại</a>
                </div>
            </div>

        </form>
    </div>
</div>