﻿@model _19T1021288.DomainModels.Employee
@{
    ViewBag.Title = "Lý Lịch Nhân Viên";
}
@{ 
     string fullname = Model.FirstName + " " + Model.LastName;
}
<div class=" box box-primary">
    <div class="box-body">
        <div class="container-fluid form-horizontal" style="position:relative">
            <div id="userProfileContent">
                <!-- Layout dùng cho các view dạng một phần nội dung trong trang web -->
                <fieldset class="hitec-fieldset">
                    <legend>
                        Thông tin chung
                    </legend>

                    <div class="text-center" style="width:130px; height:145px; position:absolute; z-index:999; top:30px; right:0; padding-left:10px; background:#ffffff;">
                        <label for="filePhoto" style="cursor:pointer" title="Click để thay đổi ảnh (kích thước ảnh tối đa 512KB)">
                            <img id="studentPhoto" src="~/Images/@Model.Photo" class="img-thumbnail" style="width:125px; height:140px;" alt="">
                        </label>
                        <form id="formUploadPhoto">
                            <input name="__RequestVerificationToken" type="hidden" value="1xUV1nZbIt1vTf8WBv_HhWle2pq8zxKucnkX3uxphrwLUUEBTktrI9fWujUsOE4aws4lQHdC4Sl-QSvfHo2tteMWW4VwUQx2STSHH43Bj2ipEJNHmXb3DNC9i9IfeGmKnNzf1PqXXdFscFrFonI61u9BfY0ODwWvqDMok9sFXjpuRlThMtLcRlUdkQBZK9Du_3ekG8cyfi9UDeAAZu3DEDc_KlA1">
                            <input type="file" name="filePhoto" id="filePhoto" accept="image/x-png,image/gif,image/jpeg" style="position:absolute;left:0;top:0;opacity:0;">
                        </form>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group hitec-border-bottom-dotted">
                                <label class="control-label col-sm-3">Mã nhân viên:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">@Model.EmployeeID</p>
                                </div>
                            </div>

                            <div class="form-group hitec-border-bottom-dotted">
                                <label class="control-label col-sm-3">Họ và tên:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">@fullname</p>
                                </div>
                            </div>


                            <div class="form-group hitec-border-bottom-dotted">
                                <label class="control-label col-sm-3">Ngày sinh:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">@Model.BirthDate.ToString("MMM dd/MM/yyyy")</p>
                                </div>
                            </div>

                            <div class="form-group hitec-border-bottom-dotted">
                                <label class="control-label col-sm-3">Ghi chú:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">@Model.Notes</p>
                                </div>
                            </div>

                            <div class="form-group hitec-border-bottom-dotted">
                                <label class="control-label col-sm-3">Email:</label>
                                <div class="col-sm-9">
                                    <p class="form-control-static">@Model.Email</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>

                <script language="javascript" type="text/javascript">
                    $(document).ready(function () {
                        $("#filePhoto").change(function () {
                            if ($(this).val() == "") { return; }
                            var size = this.files[0].size;
                            if (size > 524288) {
                                alert("Dung lượng của file không được vượt quá 512 KB");
                                return;
                            }
                            var formData = new FormData($("#formUploadPhoto")[0]);
                            $.ajax({
                                url: createBaseLink("Account/ChangePhoto?t=" + $.now()),
                                type: "POST",
                                enctype: "multipart/form-data",
                                data: formData,
                                cache: false,
                                contentType: false,
                                processData: false,
                                beforeSend: function () {
                                    showLoader();
                                },
                                complete: function () {
                                    hideLoader();
                                },
                                error: function () {
                                    alert("File không hợp lệ hoặc vượt quá dung lượng cho phép")
                                },
                                success: function (result) {
                                    if (result === "") {
                                        $("#studentPhoto").prop("src", createBaseLink("Account/Photo?t=" + $.now()));
                                    }
                                    else {
                                        alert(result);
                                    }
                                }
                            });
                        });
                    });</script>
            </div>


        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a href="~/Accout/ChangePassword/@Model.EmployeeID" class="btn btn-default bg-blue">
                    <i class="glyphicon glyphicon-edit"></i>
                    Đổi mật khẩu
                </a>
                <a href="~/"  class="btn btn-warning">
                   <i class="glyphicon glyphicon-backward"></i>
                quay lại</a>
            </div>
        </div>

    </div>
</div>