﻿@model _19T1021288.DomainModels.Employee
@{ }
<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Employee/Save" method="post" style="position:relative" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />
            <div class="form-group " style=" position: absolute; right: 10px; top: 10px; text-align: center">
                <img id="Photo" src="~/Images/@Model.Photo" class="img-rounded" alt="ảnh nhân viên"
                     style="width:90px" ; boder: solid>
                <p>Ảnh</p>
                <input type="hidden" name="Photo" value="@Model.Photo" />
                <input type="file" class="form-control"
                       name="uploadPhoto" value="@Model.Photo"
                     onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])">
            </div>
            @Html.ValidationMessageFor(m => m.Photo, "", new { @style = "color:#f00" })

            <div style="width:780px">
                <div class="form-group">
                    <label class="control-label col-sm-2" ">Họ và tên đệm:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="FirstName" name="FirstName" autofocus value="@Model.FirstName">
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @style = "color:#f00" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" ">Tên nhân viên:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName">
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @style = "color:#f00" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" ">Ngày sinh:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="BirthDate" name="birthDay" value="@string.Format("{0:dd/MM/yyyy}",Model.BirthDate)">
                        @Html.ValidationMessageFor(m => m.BirthDate, "", new { @style = "color:#f00" })
                        @Html.HiddenFor(m=>m.BirthDate)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Email:</label>
                    <div class="col-sm-10">
                        <input type="Email" class="form-control" id="Email" name="Email" value="@Model.Email">
                        @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:#f00" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Notes">Ghi chú:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="Notes" name="Notes" rows="5">@Model.Notes</textarea>
                        @Html.ValidationMessageFor(m => m.Notes, "", new { @style = "color:#f00" })
                    </div>

                </div>


            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default bg-blue">
                        <i class="glyphicon glyphicon-save"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="/Employee" class="btn btn-warning">quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>
