﻿@model _19T1021288.Web.Models.employeeSearchOutput
@{ Layout = null; }
<p>Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> kết quả trong tổng số <strong>@string.Format("{0:N0}", Model.PageCount)</strong> trang </p>
<div style="display:flex;flex-wrap:wrap; justify-content:center">
    @foreach (var item in Model.data)
    {
<div class="table-hover" style="
                            position:relative;
                            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                            transition: 0.3s;
                            border-radius: 10px;
                            width:350px;
                            margin-bottom:10px;
                            margin-right:20px;">
    <div style="position: absolute; right: 10px; top:10px">

        <img src="~/Images/@item.Photo"
             style="width: 100px;
                                border-radius: 10px;
                                height: 100px;
                                object-fit: cover; ">

    </div>
    <div class="card-body ">
        <div class="form-group">
            <p style="margin: 5px; font-family: 'cursive' ">
                <strong>Họ:</strong> @item.FirstName
            </p>
        </div>
        <div class="form-group">
            <p style="margin: 5px; font-family: 'cursive' ">
                <strong>Tên:</strong> @item.LastName
            </p>
        </div>
        <div class="form-group">
            <p style="margin: 5px; font-family: 'cursive' ">
                <strong>Email:</strong> @item.Email
            </p>
        </div>

        <div class="form-group">
            <p style="margin-top: 60px; margin-left: 5px; margin-bottom: -10px; font-family: 'cursive';
                       display: -webkit-box;
                                           -webkit-line-clamp: 3;
                                           -webkit-box-orient: vertical;
                                           overflow: hidden;
                                           height:60px;
">
                "@item.Notes"
            </p>
        </div>

        <div style="margin-left:10px; margin-top:5px; text-align:center; margin-bottom:5px">
            <a href="~/Employee/Edit/@item.EmployeeID" class=" btn btn-success  " style="padding:2px">
                <i class="glyphicon glyphicon-edit"></i>
                Sửa
            </a>
            <a href="~/Employee/Delete/@item.EmployeeID" class=" btn btn-danger " style="padding:2px; margin-left:2px;">
                <i class="glyphicon glyphicon-trash"></i>
                Xóa
            </a>
        </div>

    </div>
</div>}
</div>
<div class="text-center">
    <ul class="pagination">
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.Page)
            {
<li class="active"><a href="#">@i</a></li>
 }
else
{
<li>
    <a onclick="doSearch(@i)" href="javascript:">@i</a>
</li>
}
}

    </ul>
</div>