﻿@model _19T1021288.DomainModels.Employee
@{

}

<h2>THAY ĐỔI MẬT KHẨU</h2>
<form action="~/Accout/ChangePassword" class="form-horizontal" method="post"> 
    <div class="row">
        <div class="col-xs-2 text-center ">
            <img src="~/Images/z4143232707008_8be635a94fe7431154bf708770039a6a.jpg">
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-12">
                    <h5>Lưu ý:</h5>
                    <ul>
                        <li>
                            Mật khẩu được sử dụng để đăng nhập vào hệ thống và có vai trò rất quan trọng. Hãy
                            giữ gìn mật khẩu cẩn thận và tuyệt đối không được giao mật khẩu cho người khác.
                        </li>
                        <li>
                            Nhân viên phải chịu hoàn toàn trách nhiệm nếu để lộ mật khẩu dẫn đến ảnh hưởng đến thông
                            tin và dữ liệu của cá nhân cũng như công việc của bản thân.
                        </li>
                        <li>
                            Nên đặt mật khẩu đủ dài và khó đoán. Không nên sử dụng ngày sinh, số
                            điện thoại, cách viết tắt của họ tên,.... để làm mật khẩu.
                        </li>
                        <li>Để tránh các sai sót khi gõ mật khẩu, nên tắt chế độ gõ tiếng Việt trước khi thay đổi mật khẩu.</li>
                    </ul>
                </div>
            </div>

            <div class="row">


                <input type="hidden" name="id" value="@Model.EmployeeID" />

                <div class="col-xs-8">
                    <div class="form-group">
                        <label class="control-label col-xs-5" for="OldPassword">Mật khẩu cũ:</label>
                        <div class="col-xs-7">
                            <input class="form-control" id="OldPassword" name="OldPassword" type="password">
                            <span class="field-validation-valid text-danger" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-5" for="NewPassword">Mật khẩu mới:</label>
                        <div class="col-xs-7">
                            <input class="form-control" id="NewPassword" name="NewPassword" type="password">
                            <span class="field-validation-valid text-danger" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-5" for="ConfirmPassword">Xác nhận lại mật khẩu:</label>
                        <div class="col-xs-7">
                            <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password">
                            <span class="field-validation-valid text-danger" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.ValidationMessage("", "", new { @style = "color:#f00" })
                        <div class="col-xs-offset-5 col-xs-7">
                            <button type="submit" name="method" value="ok" class="btn btn-primary">Đổi mật khẩu</button>
                            <a href="~/" class="btn btn-default">Kết thúc</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

