﻿@model _19T1021288.DomainModels.Shipper
@{

}
<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Shipper/Save" method="post">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.ShipperID)
            @Html.ValidationSummary("", new { @style = "color:#f00" })
            <div class="form-group">
                <label class="control-label col-sm-2">Tên người giao hàng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ShipperName, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.ShipperName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default bg-blue">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="/Shipper" class="btn btn-warning">quay lại</a>
                </div>
            </div>

        </form>
    </div>
</div>

