﻿@model _19T1021288.DomainModels.Shipper
@{
    ViewBag.Title = "Xóa thông tin người giao hàng";
}

<div class="box box-danger">
    <div class=" box-body">
        <form class="form-horizontal" action="~/Shipper/Delete/@Model.ShipperID" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên người giao hàng:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.ShipperName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Phone</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger ">
                        <i class="glyphicon glyphicon-trash"></i>
                        Xóa dữ liệu
                    </button>
                    <a href="/Shipper" class="btn btn-warning">Quay Lại</a>
                </div>
            </div>

        </form>
    </div>
</div>


