﻿@model _19T1021288.Web.Models.ShipperSearchOutput
@{ 
    Layout = null;
}
<p>Có <strong>@string.Format("{0:N0}", Model.RowCount)</strong> nhà cung cấp trong tổng số <strong>@string.Format("{0:N0}", Model.PageCount)</strong> trang. </p>

<table class="table table-hover table-bordered ">
    <thead class="bg-blue-gradient ">
    <th style="width:10px">STT</th>
    <th>Họ và tên người giao hàng</th>
    <th style="width:150px">Số điện thoại</th>
    <th style="width:100px"></th>
    </thead>
    <tbody>
        @{
                int i = 1;
                foreach (var item in Model.data)
                {
                <tr>
                    <td>@i</td>
                    <td>@item.ShipperName</td>
                    <td>@item.Phone</td>
                    <td style="text-align:center">
                        <a href="~/Shipper/Edit/@item.ShipperID" class="btn btn-success btn-sm "><i class="glyphicon glyphicon-edit"></i> </a>
                        <a href="~/Shipper/Delete/@item.ShipperID" class="btn btn-danger btn-sm "><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>
<div class="text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page != 1)
            {
                int b = Model.Page;
                b--;
                <li class="page-item">
                    <a class="page-link" href="javascript::" onclick="doSearch(@b)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @{
                for (int j = 1; j <= Model.PageCount; j++)
                {
                    if (j == Model.Page)
                    {
                        <li class="active"><a class="page-link" href="#">@j</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="javascript::" onclick="doSearch(@j)">@j</a></li>
                    }

                }
            }
            <li>
                @{
                    if (Model.Page != Model.PageCount)
                    {
                        int a = Model.Page;
                        a++;
                        <a class="page-link" href="javascript::" onclick="doSearch(@a)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>

                    }

                }

            </li>
        </ul>
    </nav>
</div>