﻿@model _19T1021288.DomainModels.Category

@{

}
<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal" action="~/Category/Save" method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CategoryID)
            @Html.ValidationSummary("", new { @style = "color:#f00" })

            <div class="form-group">
                <label class="control-label col-sm-2">Tên loại hàng:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", @autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.CategoryName, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Description, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mã loại hàng gốc:</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ParentCategoryId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ParentCategoryId, "", new { @style = "color:#f00" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default bg-blue">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="/Category" class="btn btn-warning">quay lại</a>
                </div>
            </div>
        </form>
    </div>
</div>	

