﻿@model _19T1021288.DomainModels.Category
@{
    ViewBag.Title = "Xóa loại hàng trong kho";
}

<div class="box box-danger">
    <div class=" box-body">
        <form class="form-horizontal" action="~/Category/Delete/@Model.CategoryID" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên loại hàng:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.CategoryName</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mô tả:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Description<p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" >Mã danh mục gốc:</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.ParentCategoryId</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-danger ">
                        <i class="glyphicon glyphicon-trash"></i>
                        Xóa dữ liệu
                    </button>
                    <a href="/Category" class="btn btn-warning">Quay Lại</a>
                </div>
            </div>

        </form>
    </div>
</div>


