﻿@model _19T1021288.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Quản Lý Loại Hàng";
}
<div class=" box box-primary">
    <div class="box-body">
        <form id="formSearch" action="~/Category/Search">
            <div class="input-group">
                <input type="hidden" name="PageSize" value="@Model.PageSize" />
                <input type="text" class="form-control" placeholder="Search" name="searchValue" autofocus value="@Model.SearchValue">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        Tìm Kiếm
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    <a href="~/Category/Create" class=" btn btn-primary" style="margin-left:3px ">
                        <i class="glyphicon glyphicon-plus"></i>
                        Bổ sung
                    </a>
                </div>
            </div>
        </form>
        <div id="searchResult"></div>


    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                // nhầm ngăn chặn các phương pháp mặc định của trang.
                doSearch(1);
                // tìm kiếm ở trang 1
                return;
            });
            doSearch(@Model.Page);
        })
        // tìm kiếm dữ liệu theo trang.
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            //chuyển dữ liệu lên và xử lý
            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}



