﻿@model _19T1021288.Web.Models.CategorySearchOutput
    @{ 
        Layout = null;
    }

<p>Có <strong>@Model.RowCount</strong> kết quả trong tổng số <strong>@Model.PageCount</strong> trang. </p>

<table class="table table-hover table-bordered ">
    <thead class="bg-blue-gradient ">
    <th style="width:10px">STT</th>
    <th>Tên loại hàng</th>
    <th>Mô tả</th>
    <th>Mã danh mục gốc</th>
    <th style="width:130px">Số sản phẩm </th>
    <th style="width:100px"></th>
    </thead>
    <tbody>
        @{ int i = 1;
            foreach (var item in Model.data)
            {

                <tr>
                    <td>@i</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td>@item.ParentCategoryId</td>
                    <td>@_19T1021288.Businnesslayers.CommonDataService.Count(item.CategoryID)</td>
                    <td>
                        <a href="~/Category/Edit/@item.CategoryID" class="btn btn-success btn-sm sm"><i class="glyphicon glyphicon-edit"></i></a>
                        <a href="~/Category/Delete/@item.CategoryID" class="btn btn-danger btn-sm sm"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>

<div class="text-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @if (Model.Page != 1)
            {
                int b = Model.Page;
                b--;
                <li class="page-item">
                    <a class="page-link" href="javascript::" onclick="doSearch(@b)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            }
            @{
                for (int j = 1; j <= Model.PageCount; j++)
                {
                    if (j == Model.Page)
                    {
                        <li class="active"><a class="page-link" href="#">@j</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="javascript::" onclick="doSearch(@j)">@j</a></li>
                    }

                }
            }
            <li>
                @{
                    if (Model.Page != Model.PageCount)
                    {
                        int a = Model.Page;
                        a++;
                        <a class="page-link" href="javascript::" onclick="doSearch(@a)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>

                    }

                }

            </li>
        </ul>
    </nav>
</div>